﻿@using Orchard.ContentManagement;

@{
    Script.Require("Jquery");
    //Script.Include("http://connect.facebook.net/en_US/all.js");    
    var settings = WorkContext.CurrentSite.As<NGM.OpenAuthentication.Models.OpenAuthenticationSettingsPart>().Record; }

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=137176593016708&amp;xfbml=1"></script>

<div id="fb-root"></div>
<script type="text/javascript">
    FB.init({
        appId: @settings.FacebookClientIdentifier, 
        cookie: true,
        status: true, 
        xfbml: true
    });
</script>

<fb:login-button width="200" max-rows="1">Connect with Facebook</fb:login-button>