@using Orchard.ContentManagement

@{
    Script.Require("Jquery");
    var settings = WorkContext.CurrentSite.As<NGM.OpenAuthentication.Models.OpenAuthenticationSettingsPart>().Record; 
}

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=@settings.FacebookClientIdentifier&amp;xfbml=1"></script>

<div id="fb-root"></div>
<script type="text/javascript">
    FB.init({
        appId: @settings.FacebookClientIdentifier, 
        cookie: true,
        status: true, 
        xfbml: true
    });
</script>

<fb:login-button width="200" max-rows="1" perms="@Model.Permissions">Connect with Facebook</fb:login-button>