﻿@using Orchard.ContentManagement;

@{
    Script.Require("Jquery");
    //TODO : AdditionalMetadataAttribute localization http://msdn.microsoft.com/en-us/library/hh243643.aspx
    Script.Require("MicrosoftLiveConnect").AtHead();    
    var settings = WorkContext.CurrentSite.As<NGM.OpenAuthentication.Models.OpenAuthenticationSettingsPart>().Record; }

<div id="signInButton"></div>

<script type="text/javascript">
    WL.Event.subscribe("auth.logout", onLogout);
    WL.Event.subscribe("auth.login", onLogin);
    @*http://msdn.microsoft.com/en-us/library/hh243643.aspx#wlinit*@
    WL.init({
        client_id: "@settings.LiveIdClientIdentifier",
        response_type: "code",
        redirect_uri: "@NGM.OpenAuthentication.Core.OAuth.LiveIdParametersHelpers.LiveIdCallback()"
    });
    WL.ui({
        name: "signin",
        element: "signInButton",
        scope: "@Model.Permissions"
    });

    function onLogin() {
        var session = WL.getSession();
        if (session) {
            //alert(session.access_token)
        }
    }

    function onLogout() {
        var session = WL.getSession();
        if (session != null)
        {
            WL.logout;
            var data = {
                __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()"
            };

            $.post("/Users/Account/LogOff", data, function() {
                location.reload();
            });
        }
    }
</script>