﻿@using Orchard.ContentManagement;

@{
    Script.Require("Jquery");
    //TODO : AdditionalMetadataAttribute localization http://msdn.microsoft.com/en-us/library/hh243643.aspx
    Script.Require("MicrosoftLiveConnect").AtHead();    
    var settings = WorkContext.CurrentSite.As<NGM.OpenAuthentication.Models.OpenAuthenticationSettingsPart>().Record; }

<div id="signInButton"></div>

<script type="text/javascript">
    function signOutCallback() {
        var data = {
            __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()"
        };

        $.post("/Users/Account/LogOff", data, function() {
                WL.logout();
                location.reload();
        });
    }
    @*http://msdn.microsoft.com/en-us/library/hh243643.aspx#wlinit*@
    WL.init({
        client_id: "@settings.LiveIdClientIdentifier",
        response_type: "token"
    });
    WL.ui({
        name: "signin",
        element: "signInButton",
        scope: "@Model.Permissions"
    });
</script>