@{
    var identifier = HttpContext.Current.Request.Params["claimedidentifier"];
}

@if (!string.IsNullOrEmpty(identifier)) {
    <div class="message message-information">
        @T("OpenID Association: Your new user account will be linked to ")<span id="openididentifier">@identifier</span>
    </div>
}
@Display(Model.Metadata.ChildContent)