@{
    var parameters = HttpContext.Current.Session["parameters"] as NGM.OpenAuthentication.Core.OpenAuthenticationParameters;
}

<div class="message message-information">
    @T("Account Association: Your new user account will be linked to ")<span id="identifier">@parameters.ExternalIdentifier</span>
</div>

@Display(Model.Metadata.ChildContent)