@using Orchard;

@Display(Model.Metadata.ChildContent)

@{
    Style.Require("Account");
}

<fieldset class="login-form group oauth">
    <a href="@Url.Action("LogOn", "OAuthAccount", new { area = "NGM.OpenAuthentication", ReturnUrl = Request.QueryString["ReturnUrl"], KnownProvider = "Twitter" })">
        @Html.Image("../../Modules/NGM.OpenAuthentication/Content/oauth/images/twitter-logo.jpg", "Twitter", new { @Class = "oauth_btn openid_large_btn" })
    </a>
</fieldset>