@model NGM.OpenAuthentication.ViewModels.IndexViewModel
@using Orchard.Utility.Extensions;

@{var index = 0;}
<fieldset>
    <legend>Associated OpenID Accounts</legend>
        <ol>
        @foreach (var entry in Model.Accounts) {
            <li>
                @entry.Account.FriendlyIdentifierForDisplay
                
                <a href="@Url.Action("Delete", new { area = "NGM.OpenAuthentication", claimedIdentifier = @Model.Accounts[index].Account.ClaimedIdentifier, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" itemprop="RemoveUrl UnsafeUrl">@T("Remove")</a>
            </li>
            index++;
        }
        </ol>
</fieldset>