#ExternalIdentifier {
    background-color: #F5F7FA;
    background-image: url("../../NGM.OpenAuthentication/Content/Account/images/openid-icon.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 400px;
}

.oauth img
{
	width: 150px;
}

.login-form legend {
	font-weight:bold;
}