#ExternalIdentifier {
    background-color: #F5F7FA;
    background-image: url("../../NGM.OpenAuthentication/Content/Account/images/openid-icon.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 400px;
}

#oauth_btn {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}